@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  background: url(rainbow-vortex.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: #030214;
  padding: 1rem 1rem;
  height: 0rem;
  min-height: 9vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: sticky; 
  box-sizing: border-box;
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.navbar-brand i {
  color: lightseagreen;
  margin-right: 3px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  transition: all 0.3s ease;
  color: white;
}

.navbar-brand:hover {
  color: lightseagreen;
}

.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
  transition: 0.3s ease, color 0.3s ease;
  font-size: 15px;
}

.navbar-nav li a:hover {
  background-color: #fff;
  color: lightseagreen;
}

.navbar-collapse {
  background: #030214;
  font-size: 1.2rem;
  position: relative;
  border-radius: 10px;
}

.navbar-toggler-icon {
  background-color: lightseagreen;
  cursor: pointer;

}

/*About Section*/

.title {
  text-align: center;
  font-size: 60px;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
}

p {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

.about-section ul.nav-pills{
  border: 1px solid gray;
  border-radius: 50px;
}

.about-section .container .img-col {
  flex-basis: 35%;
  text-align: center;
}

.about-section .container .img-col img {
  width: 400px;
  border-radius: 50px;
  margin-top: 8em;
}

.icon-list-col {
  display: flex;
  margin-top: 20px;
  gap: 40px;
}

.text-start li strong {
  font-weight: 600;
  margin-right: 2px;
  color: white;
}

.text-start li span {
  font-weight: 500;
  margin-right: 14px;
  font-size: 16px;
  color: lightseagreen;
}

.about-section ul li .nav-link{
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.45s cubic-bezier(0,0,0.2,1);
  display: inline-block;
  color: white;
  border: 0;
}

.about-section ul li .nav-link.active{
  background-color: lightseagreen;
}

.about-section .single-progress{
  margin-top: 26px;
  position: relative;
  overflow: hidden;
}

.about-section .single-progress .progress{
  height: 4px;
  border-radius: 4px;
  box-shadow: none;
  background-color: white;
  overflow: visible;
}

.about-section .single-progress .progress-bar{
  background-color: lightseagreen;
}

.about-section .single-progress h6{
  text-align: left;
}

.about-section .single-progress .label{
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 15px;
}

.about-section .tab-pane li{
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300;
  text-decoration: none;
}

.about-section .tab-pane li a{
  font-weight: 500;
  display: block;
  color: white;
}

span{
  color: lightseagreen;
}

.single-progress h6{
  font-weight: 600;
  color: white;
}

/* RESPONSIVE SECTION*/

@media (max-width:991px){
   .about-section ul.nav-pills{
    width: 61%;
    margin: auto;
   }
}

@media only screen and (max-width: 850px){
  .icon-list-col {
    flex-direction: column;
    gap: 0px;
  }
  
  .text-start li strong {
    font-weight: 500px;
    margin-right: 0px;
  }
  
  .text-start li span {
    font-weight: 400px;
    margin-right: 13px;
    font-size: 14px;
  }
}

@media(max-width: 767px){
  .about-section ul.nav-pills{
    width: 100%;
    margin: auto;
    border: 0;
   }
   .about-section ul li .nav-link{
    font-size: 13px;
   }
   .about-section .container .img-col {
    flex-basis: 100%;
    margin-top: 1em;
  }

  .about-section .container .img-col img {
    width: 100%;
    max-width: 300px;
    border-radius: 50px;
    margin: 0 auto;
  }
}