@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  background: url(rainbow-vortex.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: #030214;
  padding: 1rem 1rem;
  height: 0rem;
  min-height: 9vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: sticky;
  box-sizing: border-box;
}

.navbar .nav-link {
  font-size: 16px;
  color: white;
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.navbar-brand i {
  color: lightseagreen;
  margin-right: 3px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  transition: all 0.3s ease;
  color: white;
}

.navbar-brand:hover {
  color: lightseagreen;
}

.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
  transition: 0.3s ease, color 0.3s ease;
  font-size: 15px;
}

.navbar-nav li a:hover {
  background-color: #fff;
  color: lightseagreen;
}

.navbar-collapse {
  background: #030214;
  font-size: 1.2rem;
  position: relative;
  border-radius: 10px;
}

.navbar-toggler-icon {
  background-color: lightseagreen;
  cursor: pointer;

}

.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border-color: lightseagreen;
  border-radius: 25px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: lightseagreen;
  color: #fff;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* SKILLS SECTION */
.skills-section {
  position: relative;
  margin: 100px 0;
}

.heading {
  text-align: center;
  font-size: 60px;
  color: white;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}

.skills-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  color: white;
}

/* RESPONSIVE SECTION */

@media (min-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }
}

@media (min-width: 992px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
  }
}

.skill-card {
  position: relative;
}

.skill-img {
  display: block;
  margin: auto;
  height: 200px;
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 18px;
  line-height: 30px;
}

.skill-level {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
}

.skill-card:nth-of-type(1) .skill-level {
  border-color: lightseagreen;
  background-color: #030214;
  color: lightseagreen;
}

.skill-card:nth-of-type(2) .skill-level {
  border-color: lightseagreen;
  background-color: #030214;
  color: lightseagreen;
}

.skill-card:nth-of-type(3) .skill-level {
  border-color: lightseagreen;
  background-color: #030214;
  color: lightseagreen;
}

.skill-card:nth-of-type(4) .skill-level {
  border-color: lightseagreen;
  background-color: #030214;
  color: lightseagreen;
}

.skill-card:nth-of-type(5) .skill-level {
  border-color: lightseagreen;
  background-color: #030214;
  color: lightseagreen;
}