@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  background: url(rainbow-vortex.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: #030214;
  padding: 1rem 1rem;
  height: 0rem;
  min-height: 9vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: sticky;
  box-sizing: border-box;
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.navbar-brand i {
  color: lightseagreen;
  margin-right: 3px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  transition: all 0.3s ease;
  color: white;
}

.navbar-brand:hover {
  color: lightseagreen;
}

.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 15 px;
}

.navbar-nav li a:hover {
  background-color: #fff;
  color: lightseagreen;
}

.navbar-collapse {
  background: #030214;
  font-size: 1.2rem;
  position: relative;
  border-radius: 10px;
}

.navbar-toggler-icon {
  background-color: lightseagreen;
  cursor: pointer;

}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-color: lightseagreen;
    border-radius: 25px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: lightseagreen;
    color: #fff;
  }
  
  .btn:focus,
  .btn:active {
    box-shadow: none;
    outline: none;
  }
  
  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  h1{
    color: white;
    text-align: center;
  }