@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
  color: white  ;
}
.navbar{
    padding: 1rem 3rem;
    height: 0rem;
    min-height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgb(3, 17, 38);;
  
}

.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
  }

  .navbar-brand i{
    color: lightseagreen;
    margin-right: 3px; 
  }
  
  .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    transition: all 0.3s ease;
    color: white; 
  }

  .navbar-brand:hover {
    color: lightseagreen; 
  }

  .navbar-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar-nav li:last-child {
    margin-right: 0;
  }
  
  .navbar-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 15 px;
  }
  
  .navbar-nav li a:hover {
    background-color: #fff;
    color: lightseagreen;
  }

  .btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-color: lightseagreen;
    border-radius: 25px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: lightseagreen;
    color: #fff;
  }
  
  .btn:focus,
  .btn:active {
    box-shadow: none;
    outline: none;
  }
  
  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .section{
    padding: 10rem 10%;
    min-width: 100vi;
}

.section{
    padding: 10rem 10%;
    min-width: 100vi;
}

.home{
  background: url('peak_background.svg');
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10vh 10% 0;
}

.home-me{
max-width: 500px;
position: relative;
}

.home-me h3{
font-size: 30px;
font-weight: 700;
display: flex;
align-items: center;
position: relative;
}
.home-me h1{
font-size: 40px;
font-weight: 700;
}

.home-me p{
font-size: 18px;
margin: 20px 0 40px;
}
span {
color: lightseagreen;
}

/* Floating animation keyframes */
@keyframes float {
0% {
  transform: translatey(0px);
}
50% {
  transform: translatey(-10px);
}
100% {
  transform: translatey(0px);
}
}

#typing-effect {
display: inline-block;
overflow: hidden;
white-space: nowrap;
font-size: 40px;
animation: typing 3s steps(20, end) infinite;
text-shadow: 0 0 10px lightseagreen;
}

@keyframes typing {
from {
  width: 0;
}
to {
  width: 100%;
}
}

.home-me .btn{
display: inline-block;
font-size: 14px; /* Increase the font size */
padding: 0.3rem 1rem; /* Increase the padding */
border-radius: 50px;
color: white;
background: lightseagreen;
font-weight: 600;
justify-content: center;
text-decoration: none;
}

.btn:hover{
  background: rgb(3, 17, 38);
  color: lightseagreen;
  border: 1px solid lightseagreen;
}

.soc-med a {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 20px;
  margin: 3rem 0.5rem 3rem; /* decrease left and right margin */
  border: 2px solid lightseagreen;
  color: lightseagreen;
  position: relative;
  transition: all 0.3s ease-out;
  background: transparent;
  justify-content: center;  
  align-items: center;
  text-decoration: none;
}
.soc-med a:hover {
  transform: translateY(-10px);
  animation: float 2s ease-in-out infinite;
  box-shadow: 0 0 10px lightseagreen, 0 0 20px lightseagreen, 0 0 30px lightseagreen; /* add glow effect on hover */
}

@keyframes float {
0% {
  transform: translateY(0);
}
50% {
  transform: translateY(-10px);
}
100% {
  transform: translateY(0);
}
}

  .about{
    background: linear-gradient(to bottom, darkblue, black, rgb(3, 17, 38));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #about{
    padding: 70px 30px;
  }
  
  .sub-heading{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px; /* adjust this value to change the spacing */
    text-align: center;
  }

  
  .divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
  }
  
  #about p{
    color: var(--themeColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
  }
  
  #about .about-col{
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-items: center; /* add this line */
  }
  
  #about .about-col .img-col{
    flex-basis: 35%;
    text-align: center;
  }
  
  #about .about-col .img-col img{
    width: 390px;
    border-radius: 50px;
  }
  
  
  #about .about-col .info{
    flex-basis: 70%;
  }
  
  #about .about-col .info h2{
    color: lightseagreen;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;
  }
  
  #about .about-col .info p{
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: -5px;
    font-style: italic;
  }
  
  #about .about-col .info .icon-list-col{
    display: flex;
    margin-top: 20px;
    gap: 40px;
  }
  
  #about .about-col .info .icon-list-col .icon-list ul li{
    list-style: none;
    margin: 15px; 
  }
  
  #about .about-col .info .icon-list-col .icon-list ul li strong{
    font-weight: 600px;
    margin-right: 2px;
  }
  
  #about .about-col .info .icon-list-col .icon-list ul li span{
    font-weight: 500px;
    margin-right: 14px;
    font-size: 16px;
  }