@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    color: #fff;
}

html{
    font-size: 80.5%;
    overflow-x: hidden;

}

body{
    background-color: rgb(3, 17, 38);
    color: #fff;
}
.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    font-size: 2.2rem;
    font-weight: 600;
    color: lightseagreen;
}

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar a:hover, .menu-bar a.active{
  color:lightseagreen;
}

.menu-bar a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-bar a:hover {
  background-color: lightseagreen;
  color: black;
  transform: translateY(-5px);
}

#menu-btn{
    font-size: 3rem;
    display: none;
}

section{
    padding: 10rem 10%;
    min-width: 100vi;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.home-me h3{
    font-size: 2.5rem;
}
.home-me h1{
    font-size: 3.0rem;
    line-height: 1.4;
}
.home-me p{
    font-size: 1.4rem;
    padding: 2rem 0;
}
span{
    color: lightseagreen;
}

.profile-pic{
    width: 28vw; 
    animation: float 6s ease-in-out infinite;
}


@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    
}
.soc-med a {
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem;
  border: 2px solid lightseagreen;
  color: lightseagreen;
  position: relative;
  transition: all 0.3s ease-out;
  background: transparent;
  justify-content: center;  
  align-items: center;
  text-decoration: none;
}

.soc-med a:hover {
  transform: translateY(-10px); /* move the icon up on hover */
  animation: float 2s ease-in-out infinite; /* add animation to the hovered icon */
}


.home-me .btn{
  display: inline-block;
  font-size: 1.2rem;
  padding: 1rem 2.2rem;
  border-radius: 50px;
  color: white;
  background: lightseagreen;
  font-weight: 600;
  justify-content: center;
  text-decoration: none;
}

.btn:hover{
  background: rgb(3, 17, 38);
  color: lightseagreen;
  border: 1px solid lightseagreen;
}
  